# Snowflake connection (modeler team account)
SNOWFLAKE_ACCOUNT=ndsoebe-rai_int_modeler_team_aws_us_west_2_consumer
SNOWFLAKE_USER=ZACK.KORDELESKI@RELATIONAL.AI
SNOWFLAKE_ROLE=DEVELOPER_ADMIN
SNOWFLAKE_WAREHOUSE=NBA_INGEST_WH
SNOWFLAKE_DATABASE=ZK_NBA

# Auth: PAT (acts as password)
SNOWFLAKE_PASSWORD=
